@media (max-width:600px) {
  .hide-on-small-only,.tabs-wrapper,.hide-on-small-and-down {
    display: none!important;
  }
}

@media (max-width:992px) {
  .hide-on-med-and-down {
    display: none!important;
  }
}

@media (min-width:601px) {
  .hide-on-med-and-up {
    display: none!important;
  }
}

@media (min-width:600px) and (max-width:992px) {
  .hide-on-med-only {
    display: none!important;
  }
}

@media (min-width:993px) {
  .hide-on-large-only {
    display: none!important;
  }

  .show-on-large {
    display: initial!important;
  }
}

@media (min-width:600px) and (max-width:992px) {
  .show-on-medium {
    display: initial!important;
  }
}

@media (max-width:600px) {
  .show-on-small {
    display: initial!important;
  }
}

@media (min-width:601px) {
  .show-on-medium-and-up {
    display: initial!important;
  }
}

@media (max-width:992px) {
  .show-on-medium-and-down {
    display: initial!important;
  }
}

@media (max-width:600px) {
  .center-on-small-only {
    text-align: center;
  }
}

@media (max-width:700px) {
  table.responsive-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    position: relative;
  }

  table.responsive-table th,table.responsive-table td {
    margin: 0;
    vertical-align: top;
  }

  table.responsive-table th {
    text-align: left;
  }

  table.responsive-table thead {
    display: block;
    float: left;
  }

  table.responsive-table thead tr {
    display: block;
    padding: 0 10px 0 0;
  }

  table.responsive-table thead tr th::before {
    content: "\00a0";
  }

  table.responsive-table tbody {
    display: block;
    width: auto;
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
  }

  table.responsive-table tbody tr {
    display: inline-block;
    vertical-align: top;
  }

  table.responsive-table th {
    display: block;
    text-align: right;
  }

  table.responsive-table td {
    display: block;
    min-height: 1.25em;
    text-align: left;
  }

  table.responsive-table tr {
    padding: 0 10px;
  }

  table.responsive-table thead {
    border: 0;
    border-right: 1px solid #d0d0d0;
  }

  table.responsive-table.bordered th {
    border-bottom: 0;
    border-left: 0;
  }

  table.responsive-table.bordered td {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
  }

  table.responsive-table.bordered tr {
    border: 0;
  }

  table.responsive-table.bordered tbody tr {
    border-right: 1px solid #d0d0d0;
  }
}

@media (min-width:601px) {
  .container {
    width: 95%;
  }
}

@media (min-width:993px) {
  .container {
    width: 90%;
  }
}

@media (min-width:601px) {
  .row .col.m1 {
    width: 8.33333%;
    margin-left: 0;
  }

  .row .col.m2 {
    width: 16.66667%;
    margin-left: 0;
  }

  .row .col.m3 {
    width: 25%;
    margin-left: 0;
  }

  .row .col.m4 {
    width: 33.33333%;
    margin-left: 0;
  }

  .row .col.m5 {
    width: 41.66667%;
    margin-left: 0;
  }

  .row .col.m6 {
    width: 50%;
    margin-left: 0;
  }

  .row .col.m7 {
    width: 58.33333%;
    margin-left: 0;
  }

  .row .col.m8 {
    width: 66.66667%;
    margin-left: 0;
  }

  .row .col.m9 {
    width: 75%;
    margin-left: 0;
  }

  .row .col.m10 {
    width: 83.33333%;
    margin-left: 0;
  }

  .row .col.m11 {
    width: 91.66667%;
    margin-left: 0;
  }

  .row .col.m12 {
    width: 100%;
    margin-left: 0;
  }

  .row .col.offset-m1 {
    margin-left: 8.33333%;
  }

  .row .col.offset-m2 {
    margin-left: 16.66667%;
  }

  .row .col.offset-m3 {
    margin-left: 25%;
  }

  .row .col.offset-m4 {
    margin-left: 33.33333%;
  }

  .row .col.offset-m5 {
    margin-left: 41.66667%;
  }

  .row .col.offset-m6 {
    margin-left: 50%;
  }

  .row .col.offset-m7 {
    margin-left: 58.33333%;
  }

  .row .col.offset-m8 {
    margin-left: 66.66667%;
  }

  .row .col.offset-m9 {
    margin-left: 75%;
  }

  .row .col.offset-m10 {
    margin-left: 83.33333%;
  }

  .row .col.offset-m11 {
    margin-left: 91.66667%;
  }

  .row .col.offset-m12 {
    margin-left: 100%;
  }
}

@media (min-width:993px) {
  .row .col.l1 {
    width: 8.33333%;
    margin-left: 0;
  }

  .row .col.l2 {
    width: 16.66667%;
    margin-left: 0;
  }

  .row .col.l3 {
    width: 25%;
    margin-left: 0;
  }

  .row .col.l4 {
    width: 33.33333%;
    margin-left: 0;
  }

  .row .col.l5 {
    width: 41.66667%;
    margin-left: 0;
  }

  .row .col.l6 {
    width: 50%;
    margin-left: 0;
  }

  .row .col.l7 {
    width: 58.33333%;
    margin-left: 0;
  }

  .row .col.l8 {
    width: 66.66667%;
    margin-left: 0;
  }

  .row .col.l9 {
    width: 75%;
    margin-left: 0;
  }

  .row .col.l10 {
    width: 83.33333%;
    margin-left: 0;
  }

  .row .col.l11 {
    width: 91.66667%;
    margin-left: 0;
  }

  .row .col.l12 {
    width: 100%;
    margin-left: 0;
  }

  .row .col.offset-l1 {
    margin-left: 8.33333%;
  }

  .row .col.offset-l2 {
    margin-left: 16.66667%;
  }

  .row .col.offset-l3 {
    margin-left: 25%;
  }

  .row .col.offset-l4 {
    margin-left: 33.33333%;
  }

  .row .col.offset-l5 {
    margin-left: 41.66667%;
  }

  .row .col.offset-l6 {
    margin-left: 50%;
  }

  .row .col.offset-l7 {
    margin-left: 58.33333%;
  }

  .row .col.offset-l8 {
    margin-left: 66.66667%;
  }

  .row .col.offset-l9 {
    margin-left: 75%;
  }

  .row .col.offset-l10 {
    margin-left: 83.33333%;
  }

  .row .col.offset-l11 {
    margin-left: 91.66667%;
  }

  .row .col.offset-l12 {
    margin-left: 100%;
  }
}

@media (min-width:993px) {
  nav a.button-collapse {
    display: none;
  }
}

@media (max-width:992px) {
  nav .brand-logo {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

@media (min-width:601px) {
  nav,nav .nav-wrapper i,nav a.button-collapse,nav a.button-collapse i {
    height: 64px;
    line-height: 64px;
  }

  .navbar-fixed {
    height: 64px;
  }
}

@media (min-width:0) {
  html {
    font-size: 12px;
  }
}

@media (min-width:992px) {
  html {
    font-size: 12px;
  }
}

@media (min-width:1200px) {
  html {
    font-size: 14px;
  }
}

@media (max-width:600px) {
  #toast-container {
    min-width: 100%;
    bottom: 0;
  }
}

@media (min-width:601px) and (max-width:992px) {
  #toast-container {
    min-width: 30%;
    left: 5%;
    bottom: 7%;
  }
}

@media (min-width:993px) {
  #toast-container {
    min-width: 8%;
    top: 10%;
    right: 7%;
  }
}

@media (max-width:600px) {
  .toast {
    width: 100%;
    border-radius: 0;
  }
}

@media (min-width:601px) and (max-width:992px) {
  .toast {
    float: left;
  }
}

@media (min-width:993px) {
  .toast {
    float: right;
  }
}

@media (max-width:992px) {
  .modal {
    width: 80%;
  }
}

@media (max-width:992px) {
  .input-field .prefix ~ input {
    width: 86%;
    width: calc(100% - 3rem);
  }
}

@media (max-width:600px) {
  .input-field .prefix ~ input {
    width: 80%;
    width: calc(100% - 3rem);
  }
}

@media (max-width:992px) {
  .side-nav.fixed {
    left: -105%;
  }

  .side-nav.fixed.right-aligned {
    right: -105%;
    left: auto;
  }
}

@media (min-height:28.875em) {
  .picker__frame {
    overflow: visible;
    top: auto;
    bottom: -100%;
    max-height: 80%;
  }
}

@media (min-height:40.125em) {
  .picker__frame {
    margin-bottom: 7.5%;
  }
}

@media (min-height:28.875em) {
  .picker__wrap {
    display: block;
  }
}

@media (min-height:28.875em) {
  .picker__box {
    display: block;
    border: 1px solid #777;
    border-top-color: #898989;
    border-bottom-width: 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    -webkit-box-shadow: 0 12px 36px 16px rgba(0,0,0,0.24);
    -moz-box-shadow: 0 12px 36px 16px rgba(0,0,0,0.24);
    box-shadow: 0 12px 36px 16px rgba(0,0,0,0.24);
  }
}

@media (min-height:35.875em) {
  .picker--opened .picker__frame {
    top: 10%;
    bottom: 20% auto;
  }
}

@media (min-height:38.875em) {
  .picker--opened .picker__frame {
    top: 10%;
    bottom: auto;
  }
}

@media (min-height:33.875em) {
  .picker__weekday {
    padding-bottom: .5em;
  }
}

@media (min-height:46.75em) {
  .picker__list-item {
    padding: .5em 1em;
  }
}

@media (min-height:40.125em) {
  .picker--time .picker__box {
    margin-bottom: 5em;
  }
}

@media (max-width:992px) {
  header,main,footer {
    padding-left: 0;
  }
}

@media (max-width:600px) {
  a.button-collapse.top-nav {
    left: 5%;
  }
}

@media (max-width:992px) {
  nav .nav-wrapper {
    text-align: center;
  }

  nav .nav-wrapper a.page-title {
    font-size: 36px;
  }
}


@media (max-width:992px) {
  #front-page-nav ul.side-nav li {
    float: none;
    padding: 0 15px;
  }

  #front-page-nav ul.side-nav li:hover {
    background-color: #ddd;
  }

  #front-page-nav ul.side-nav li .active {
    background-color: transparent;
  }

  #front-page-nav ul.side-nav a {
    color: #444;
  }
}

@media (max-width:992px) {
  #index-banner h1 {
    margin-top: 60px;
  }

  #index-banner h4 {
    margin-bottom: 15px;
  }
}

@media (max-width:600px) {
  #index-banner h4 {
    margin-bottom: 0;
  }
}

@media (max-width:992px) {
  .promo {
    width: 60%;
    margin: 0 auto;
    display: block;
  }
}

@media (max-width:1200px) {
  .shadow-demo {
    width: 100px;
    height: 100px;
  }
}

@media (max-width:600px) {
  .shadow-demo {
    width: 150px;
    height: 150px;
  }
}

@media (max-width:600px) {
  .mobile-image {
    max-width: 100%;
  }
}

@media (min-width:360px) {
  .flow-text {
    font-size: 1.2rem;
  }
}

@media (min-width:0px) {
  .flow-text {
    line-height: .8rem;
  }
}

@media (min-width:390px) {
  .flow-text {
    font-size: 1.224rem;
  }
}

@media (min-width:30px) {
  .flow-text {
    line-height: .904rem;
  }
}

@media (min-width:420px) {
  .flow-text {
    font-size: 1.248rem;
  }
}

@media (min-width:60px) {
  .flow-text {
    line-height: 1.008rem;
  }
}

@media (min-width:450px) {
  .flow-text {
    font-size: 1.272rem;
  }
}

@media (min-width:90px) {
  .flow-text {
    line-height: 1.112rem;
  }
}

@media (min-width:480px) {
  .flow-text {
    font-size: 1.296rem;
  }
}

@media (min-width:120px) {
  .flow-text {
    line-height: 1.216rem;
  }
}

@media (min-width:510px) {
  .flow-text {
    font-size: 1.32rem;
  }
}

@media (min-width:150px) {
  .flow-text {
    line-height: 1.32rem;
  }
}

@media (min-width:540px) {
  .flow-text {
    font-size: 1.344rem;
  }
}

@media (min-width:180px) {
  .flow-text {
    line-height: 1.424rem;
  }
}

@media (min-width:570px) {
  .flow-text {
    font-size: 1.368rem;
  }
}

@media (min-width:210px) {
  .flow-text {
    line-height: 1.528rem;
  }
}

@media (min-width:600px) {
  .flow-text {
    font-size: 1.392rem;
  }
}

@media (min-width:240px) {
  .flow-text {
    line-height: 1.632rem;
  }
}

@media (min-width:630px) {
  .flow-text {
    font-size: 1.416rem;
  }
}

@media (min-width:270px) {
  .flow-text {
    line-height: 1.736rem;
  }
}

@media (min-width:660px) {
  .flow-text {
    font-size: 1.44rem;
  }
}

@media (min-width:300px) {
  .flow-text {
    line-height: 1.84rem;
  }
}

@media (min-width:690px) {
  .flow-text {
    font-size: 1.464rem;
  }
}

@media (min-width:330px) {
  .flow-text {
    line-height: 1.944rem;
  }
}

@media (min-width:720px) {
  .flow-text {
    font-size: 1.488rem;
  }
}

@media (min-width:360px) {
  .flow-text {
    line-height: 2.048rem;
  }
}

@media (min-width:750px) {
  .flow-text {
    font-size: 1.512rem;
  }
}

@media (min-width:390px) {
  .flow-text {
    line-height: 2.152rem;
  }
}

@media (min-width:780px) {
  .flow-text {
    font-size: 1.536rem;
  }
}

@media (min-width:420px) {
  .flow-text {
    line-height: 2.256rem;
  }
}

@media (min-width:810px) {
  .flow-text {
    font-size: 1.56rem;
  }
}

@media (min-width:450px) {
  .flow-text {
    line-height: 2.36rem;
  }
}

@media (min-width:840px) {
  .flow-text {
    font-size: 1.0rem;
  }
}

@media (min-width:480px) {
  .flow-text {
    line-height: 2.464rem;
  }
}

@media (min-width:870px) {
  .flow-text {
    font-size: 1.608rem;
  }
}

@media (min-width:510px) {
  .flow-text {
    line-height: 2.568rem;
  }
}

@media (min-width:900px) {
  .flow-text {
    font-size: 1.632rem;
  }
}

@media (min-width:540px) {
  .flow-text {
    line-height: 2.672rem;
  }
}

@media (min-width:930px) {
  .flow-text {
    font-size: 1.656rem;
  }
}

@media (min-width:570px) {
  .flow-text {
    line-height: 2.776rem;
  }
}

@media (min-width:960px) {
  .flow-text {
    font-size: 1.68rem;
  }
}

@media (min-width:600px) {
  .flow-text {
    line-height: 2.88rem;
  }
}